In [9]:
import numpy as py #provides mathematical functions for numerical operations in python, essential for working with arrays and matrices
import pandas as pd #used to read,manipulate and analyse structured data.
import matplotlib.pyplot as plt #used to create basic data visualisation like line plots,histograms and scatter plots
import seaborn as sbs #a visualisation library that provides a high-level interface for creating more advanced and aesthetically pleasing visualisation
import scipy.stats as stats #proivdes a wide range of statistical functions and distributions

In [4]:
pwd

'/Users/rennishndanya/Data-Science/Weather'

data = py.read_csv("Weather Data.csv")

In [11]:
data = py.read_csv("Weather Data.csv")

AttributeError: module 'numpy' has no attribute 'read_csv'

In [13]:
data = pd.read_csv("Weather Data.csv")

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [17]:
data.isnull()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
8779,False,False,False,False,False,False,False,False
8780,False,False,False,False,False,False,False,False
8781,False,False,False,False,False,False,False,False
8782,False,False,False,False,False,False,False,False
8783,False,False,False,False,False,False,False,False

In [19]:
data.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [21]:
data.nunique()

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [23]:
data.nunique(0)

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [25]:
data.nunique(1)

0       8
1       8
2       8
3       8
4       8
       ..
8779    8
8780    8
8781    8
8782    8
8783    8
Length: 8784, dtype: int64

In [31]:
data.nunique(axis=0, dropna=True)

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [33]:
data[['Visibility_km', 'Wind Speed_km/h']]

      Visibility_km  Wind Speed_km/h
0               8.0                4
1               8.0                4
2               4.0                7
3               4.0                6
4               4.8                7
...             ...              ...
8779            9.7               30
8780            9.7               24
8781            4.8               28
8782            9.7               28
8783           11.3               30

[8784 rows x 2 columns]

In [39]:
data[['Visibility_km', 'Wind Speed_km/h','Temp_C','Weather']]

      Visibility_km  Wind Speed_km/h  Temp_C               Weather
0               8.0                4    -1.8                   Fog
1               8.0                4    -1.8                   Fog
2               4.0                7    -1.8  Freezing Drizzle,Fog
3               4.0                6    -1.5  Freezing Drizzle,Fog
4               4.8                7    -1.5                   Fog
...             ...              ...     ...                   ...
8779            9.7               30     0.1                  Snow
8780            9.7               24     0.2                  Snow
8781            4.8               28    -0.5                  Snow
8782            9.7               28    -0.2                  Snow
8783           11.3               30     0.0                  Snow

[8784 rows x 4 columns]

In [47]:
data.duplicated(['Visibility_km'])

0       False
1        True
2       False
3        True
4       False
        ...
8779     True
8780     True
8781     True
8782     True
8783     True
Length: 8784, dtype: bool

In [49]:
data.duplicated(['Weather'])

0       False
1        True
2       False
3        True
4        True
        ...
8779     True
8780     True
8781     True
8782     True
8783     True
Length: 8784, dtype: bool

In [51]:
data.describe()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [53]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Temp_C,8784.0,8.798144,11.687883,-23.30,0.10,9.30,18.80,33.00
Dew Point Temp_C,8784.0,2.555294,10.883072,-28.50,-5.90,3.30,11.80,24.40
Rel Hum_%,8784.0,67.431694,16.918881,18.00,56.00,68.00,81.00,100.00
Wind Speed_km/h,8784.0,14.945469,8.688696,0.00,9.00,13.00,20.00,83.00
Visibility_km,8784.0,27.664447,12.622688,0.20,24.10,25.00,25.00,48.30
Press_kPa,8784.0,101.051623,0.844005,97.52,100.56,101.07,101.59,103.65

In [55]:
data.describe(include='all')

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
count,8784,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784
unique,8784,NaN,NaN,NaN,NaN,NaN,NaN,50
top,1/1/2012 0:00,NaN,NaN,NaN,NaN,NaN,NaN,Mainly Clear
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,2106
mean,NaN,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623,NaN
std,NaN,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005,NaN
min,NaN,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000,NaN
25%,NaN,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000,NaN
50%,NaN,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000,NaN
75%,NaN,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000,NaN
max,NaN,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000,NaN

In [59]:
data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Date/Time,8784,8784,1/1/2012 0:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Temp_C,8784.0,NaN,NaN,NaN,8.798144,11.687883,-23.3,0.1,9.3,18.8,33.0
Dew Point Temp_C,8784.0,NaN,NaN,NaN,2.555294,10.883072,-28.5,-5.9,3.3,11.8,24.4
Rel Hum_%,8784.0,NaN,NaN,NaN,67.431694,16.918881,18.0,56.0,68.0,81.0,100.0
Wind Speed_km/h,8784.0,NaN,NaN,NaN,14.945469,8.688696,0.0,9.0,13.0,20.0,83.0
Visibility_km,8784.0,NaN,NaN,NaN,27.664447,12.622688,0.2,24.1,25.0,25.0,48.3
Press_kPa,8784.0,NaN,NaN,NaN,101.051623,0.844005,97.52,100.56,101.07,101.59,103.65
Weather,8784,50,Mainly Clear,2106,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
str(data)

'             Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  \\\n0        1/1/2012 0:00    -1.8              -3.9         86                4   \n1        1/1/2012 1:00    -1.8              -3.7         87                4   \n2        1/1/2012 2:00    -1.8              -3.4         89                7   \n3        1/1/2012 3:00    -1.5              -3.2         88                6   \n4        1/1/2012 4:00    -1.5              -3.3         88                7   \n...                ...     ...               ...        ...              ...   \n8779  12/31/2012 19:00     0.1              -2.7         81               30   \n8780  12/31/2012 20:00     0.2              -2.4         83               24   \n8781  12/31/2012 21:00    -0.5              -1.5         93               28   \n8782  12/31/2012 22:00    -0.2              -1.8         89               28   \n8783  12/31/2012 23:00     0.0              -2.1         86               30   \n\n      Visibility_km  Press_kPa               Weather  \n0               8.0     101.24                   Fog  \n1               8.0     101.24                   Fog  \n2               4.0     101.26  Freezing Drizzle,Fog  \n3               4.0     101.27  Freezing Drizzle,Fog  \n4               4.8     101.23                   Fog  \n...             ...        ...                   ...  \n8779            9.7     100.13                  Snow  \n8780            9.7     100.03                  Snow  \n8781            4.8      99.95                  Snow  \n8782            9.7      99.91                  Snow  \n8783           11.3      99.89                  Snow  \n\n[8784 rows x 8 columns]'

In [ ]:
data.head()